{% extends 'base.html.twig' %}
{%  block headertitle %}
    <h1>User creation</h1>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-4">
            {% if is_granted('ROLE_ADMIN') %}
                <div class="row">
                    <div class="col-md-4">
                        <div id="menu-settingsLeftBlock">
                            <a href="{{ path('user_index') }}"> <div class="return-button"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span><p>Back</p></div></a>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    <div class="col-md-4"></div>
    <div class="col-md-4">
    <button type="submit" id="pw_button" class="nice-button half-button form-button edit col-md-3">
        <span class="glyphicon glyphicon-floppy-disk editPwglyph" aria-hidden="true"></span>
        <p>Save Changes</p>
    </button>
    </div>
    <div class="col-md-4"></div>
    {{ form_end(form) }}
    {% endblock %}
