th {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    background: #70e99a;
}

#table_filter, #table_length, #table_previous, #table_next {
    display: none;
}

#table_paginate {
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
}

#table_paginate a {
    padding: 10px;
    font-size: 20px;
    color: #666666;
    border: 1px solid #999999;
}

#table_paginate a:hover {
    cursor: pointer;
    color: black;
}

ul {
    margin-bottom: 0;
}

#reportCarousel {
    border: 2px solid black;
    height: 50%;
    -webkit-box-shadow: 10px 10px 23px -1px rgba(0,0,0,0.59);
    -moz-box-shadow: 10px 10px 23px -1px rgba(0,0,0,0.59);
    box-shadow: 10px 10px 23px -1px rgba(0,0,0,0.59);
}

.reportItem {
    padding: 30px;
    width: 80%;
    margin: 0 auto;
}

.coachIcon {
    font-size: 40px;
}

.left-inner-section {
    float: left;
    width: 40%;
}

.right-inner-section {
    float: right;
    width: 60%;
}

.right-inner-section table {
    width: 100%;
}

.glyphicon-ok {
    color: #70e99a;
}

.glyphicon-remove {
    color: #AA3333;
}

#datum {
    font-size: 45px;
}

#bottomNavigation {
    width: 100%;
    margin: 0 auto;
}

#bottomNavigation span {
    color: #666666;
    padding-top: 10px;
}

#bottomNavigation span:hover {
    color: black;
    cursor: pointer;
}

.form-control {
    width: 50%;
    margin: 0 auto;
}

#habitsSubmitButton {
    margin-top: 40px;
    background-color: #70e99a;
}

/* COACH INDEX */

#menu {
    width: 60%;
    margin: 0 auto;
}

#menuLeftBlock {
    float: left;
    width: 40%;
}

#menuRightBlock {
    float: right;
    width: 60%;
}

#menu-settingsLeftBlock {
    float: left;
    width: 50%;
}

#menu-settingsRightBlock {
    float: right;
    width: 50%;
}

.customerOverview {
    background: #70e99a;
}