{% extends "::base.html.twig" %}

{% block title %}Admin{% endblock %}

{% block headertitle %}<h1>Admin settings</h1>{% endblock %}

{% block body %}
    <div class="row">
    <div class="col-md-2"></div>
        <a href="{{ path('admin_route') }}""><div class="col-md-4 nice-button"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span><p>Back</p></div></a>

        <a data-toggle="modal" data-target="#logoutModal"><div class=" col-md-4 nice-button"><span class="glyphicon glyphicon-user" aria-hidden="true"></span><p>Change password</p></div></a>
    </div>
{% endblock %}