{% extends "::base.html.twig" %}

{% block title %}Coach - Settings{% endblock %}

{% block headertitle %}<h1>Coach settings</h1>{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-2"></div>
        <a href="{{ path('coachroute') }}"><div class="col-md-4 nice-button"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span><p>Back</p></div></a>

        <a data-toggle="modal" data-target="#logoutModal"><div class=" col-md-4 nice-button"><span class="glyphicon glyphicon-user" aria-hidden="true"></span><p>Change password</p></div></a>
    </div>
{% endblock %}