{% extends 'base.html.twig' %}
{% block title %}Login{% endblock %}
 {% block javascripts %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#loginModal').modal({backdrop: 'static', keyboard: false}).modal('show');
    });
</script>
 {% endblock %}
{% block body %}
<div class="modal fade show" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p>Log in</p>
            </div>
            <div class="modal-body">
                <form action="{{ path('checkroute') }}" method="post">
                    <p><label>Username</label></p>
                    <input type="text" class="modal-input"  placeholder="Username" required="" autofocus="" id="username" name="_username">
                    <p><label>Password</label></p>
                    <input type="password" class="modal-input"  placeholder="Password" required="" id="password" name="_password">
                    <div class="row">
                        <a href={{ path("homepage") }}> <div class="col-md-2 nice-button returnbutton"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></div></a>
                        <div class="col-md-5">
                            <button class="nice-button loginbutton" id="submit" name="submit" type="submit">Login</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
{% endblock %}
