{% extends 'base.html.twig' %}
{% block title %}Adminpage{% endblock %}
{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <h1>Hier komt de adminpage</h1>
    {% endif %}
    <div>
        <a href={{ path("loginroute") }}> Login</a>
    </div>
{% endblock %}