{% extends "::base.html.twig" %}

{% block title %}AppBundle:Customer:add{% endblock %}

{% block body %}
<h1>Welcome to the Customer:add page</h1>

<pre>Customer successfully added with id; {{ id }}</pre>

{% endblock %}
