{% extends "::base.html.twig" %}

{% block title %}AppBundle:Customer:findAll{% endblock %}

{% block body %}
<h1>Welcome to the Customer:findAll page</h1>
    {% if customers != null %}
<ul>
    {% for customer in customers %}
        <li>{{ customer.firstName }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}
