{% extends "::base.html.twig" %}

{% block title %}AppBundle:Customer:find{% endblock %}

{% block body %}
<h1>Welcome to the Customer:find page</h1>

    <pre>Customer: {{ customer.id }} {{ customer }}</pre>


{% endblock %}
